@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View <a href="/Shops">local shops</a>.</p>
    <p>View <a href="/Restaurants">local restaurants</a>.</p>
</div>
